<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Detail</title>
</head>
<body  onpageshow="getIPFromAmazon()">
    <h2>{{ customer.cust_name }}</h2>
    Customer since {{ customer.add_date }}<br/>
    My IP <input type="text" id="myip" name="myip" value=""/><br/>
    <form action="{% url 'Customer:detail' customer.id  %}spinup/" method="POST">
    {% csrf_token %}
    License: Basic <button type="submit">Launch</button>
    </form>
    <form action="{% url 'Customer:detail' customer.id  %}spinup/" method="POST">
    {% csrf_token %}
    License: Basic2 <button type="submit">Launch</button>
    </form>
    <form action="{% url 'Customer:detail' customer.id  %}spinup/" method="POST">
    {% csrf_token %}
    License: Basic+Slomo <button type="submit">Launch</button>
    </form>
    {% if latest_license_list %}
        <ul>
        {% for license in latest_license_list %}
<!--            <li><a href="{% url 'License:detail' license.id %}">{{ license.cust_name }}</a></li> -->
            <li>{{ license.cust_name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No licenses are available.</p>
    {% endif %}

<script>
function getIPFromAmazon() {
  myURL = "https://checkip.amazonaws.com/";
  myURL = "https://ipinfo.io/ip";
  fetch(myURL,
      { headers: {'Content-Type': 'Access-Control-Allow-Origin'}, mode: 'cors', credentials: 'same-origin'})
    .then(res => res.text())
    .then(data => document.getElementById("myip").value = data)

}

function myIP() {
  document.getElementById("myip").value = getIPFromAmazon();
}
document.getElementById("myip").onload = function() {getIPFromAmazon()};
</script>
</body>
</html>