<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Detail</title>
</head>
<body  onpageshow="getIPFromAmazon()">
    <h2>{{ customer.cust_name }}</h2>
    Customer since {{ customer.add_date }}<br/>
    <form action="{% url 'Customer:detail' customer.id  %}spinup/" method="POST">
    {% csrf_token %}

    <div style="margin-left:20px;margin-top:20px">
        <h4>Licenses</h4>
        <ul>
        {% for lic in customer.license_set.all %}
            {% if lic.active_ind %}
            <li><b>#</b> {{lic.license_no}}  {% if lic.license_in_use %}In Use{% else %}Available{% endif %} <i>(Added {{lic.add_date}})</i><br/>
                <b>Features: </b>
                {% if lic.replay_ind %}Replay /{% else %}{% endif %}
                {% if lic.studio_ind %}Studio /{% else %}{% endif %}
                {% if lic.review_ind %}Review /{% else %}{% endif %}
                {% if lic.slomo_ind %}Slo-mo /{% else %}{% endif %}
                {% if lic.dante_ind %}Dante /{% else %}{% endif %}
                {% if lic.uhd_ind %}UHD {% else %}{% endif %}
                {% if lic.license_in_use %}<button type="submit">Shut Down</button>{% else %}<button type="submit">Launch</button>{% endif %}
           </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    Your IP is <input type="text" id="myip" name="myip" value=""/><br/>
    </form>

<script>
function getIPFromAmazon() {
  myURL = "https://checkip.amazonaws.com/";
  myURL = "https://ipinfo.io/ip";
  fetch(myURL,
      { headers: {'Content-Type': 'Access-Control-Allow-Origin'}, mode: 'cors', credentials: 'same-origin'})
    .then(res => res.text())
    .then(data => document.getElementById("myip").value = data)

}

function myIP() {
  document.getElementById("myip").value = getIPFromAmazon();
}
document.getElementById("myip").onload = function() {getIPFromAmazon()};
</script>
</body>
</html>